---
---

@import "{{ site.theme }}";

.btn {
  display: inline-block;
  padding: 10px 16px;
  margin-top: 10px;
  margin-bottom: 20px;
  background-color: #159957;
  color: white !important;
  text-decoration: none;
  border-radius: 6px;
  font-weight: 600;
}

.btn:hover {
  background-color: #0f6e3f;
}